!!! 5
html
	head
		title="Remote Commander"
		meta(http-equiv='Content-type', content='text/html; charset=UTF-8')
		link(type='text/css', rel='stylesheet', href='../css/style.css', media='screen')	
		
		script(type='text/javascript', src='../js/jquery-1.6.4.min.js')
		script(type='text/javascript', src='../socket.io/socket.io.js')
		script(type='text/javascript', src='../js/commands.js')
	body
		#wrapper
			h1 Remote Commander
			p You are
				#nick Unknown
			p Connected to
				#controlled_id #{id}
			p Main server:
				#status
			input(id='chatMsg',name='chatMsg',size='50')