body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#log {
	background-color: #FFFFDD;
	height: 250px;
	overflow: auto;
	border: 1px solid #E3E3E3;
	width: 60%;
}

#message {
	font-size: 16px;
	padding: 8px 5px;
	display: block;
}

.block {
	margin-bottom: 10px;
}